flows (1).json
[{"id":"b66b6b3d.134de8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fa8fe2e4.acea8","type":"ui_form","z":"b66b6b3d.134de8","name":"","label":"","group":"f19ac19.85f044","order":8,"width":0,"height":0,"options":[{"label":"GREScore","value":"GREScore","type":"number","required":true},{"label":"TOEFLSCORE","value":"TOEFLScore","type":"number","required":true},{"label":"Rating","value":"Rating","type":"number","required":true},{"label":"SOP","value":"SOP","type":"number","required":true},{"label":"LOR","value":"LOR","type":"number","required":true},{"label":"CGPA","value":"CGPA","type":"number","required":true},{"label":"Research","value":"Research","type":"number","required":true}],"formValue":{"GREScore":"","TOEFLScore":"","Rating":"","SOP":"","LOR":"","CGPA":"","Research":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":197.90000534057617,"y":192.1999969482422,"wires":[["304560ce.d40ed","f8824eb9.32266"]]},{"id":"304560ce.d40ed","type":"debug","z":"b66b6b3d.134de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":301.29998779296875,"y":114.00000190734863,"wires":[]},{"id":"f8824eb9.32266","type":"function","z":"b66b6b3d.134de8","name":"TokenGeneration","func":"global.set(\"GRE\",msg.payload.GREScore)\nglobal.set(\"TOE\",msg.payload.TOEFLScore)\nglobal.set(\"rat\",msg.payload.Rating)\nglobal.set(\"SOP\",msg.payload.SOP)\nglobal.set(\"LOR\",msg.payload.LOR)\nglobal.set(\"CGPA\",msg.payload.CGPA)\nglobal.set(\"Research\",msg.payload.Research)\nreturn msg;","outputs":1,"noerr":0,"x":448.9000358581543,"y":193,"wires":[["8f70a079.8fc5c"]]},{"id":"8f70a079.8fc5c","type":"http request","z":"b66b6b3d.134de8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":698.9000358581543,"y":166,"wires":[["7c6fe4b2.f48c6c","91504387.70eb1"]]},{"id":"7c6fe4b2.f48c6c","type":"debug","z":"b66b6b3d.134de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":869.9000358581543,"y":91,"wires":[]},{"id":"91504387.70eb1","type":"function","z":"b66b6b3d.134de8","name":"Prediction","func":"var token=msg.payload.token;\nvar gre=global.get(\"GRE\");\nvar toefl=global.get(\"TOE\");\nvar rat=global.get(\"rat\");\nvar sop=global.get(\"SOP\");\nvar lor=global.get(\"LOR\");\nvar cgpa=global.get(\"CGPA\");\nvar research=global.get(\"Research\")\nmsg.payload={\"fields\":[\"GRE Score\",\"TOEFL Score\",\"University Rating\",\"SOP\",\"LOR\",\"CGPA\",\"Research\"],\"values\":[[gre,toefl,rat,sop,lor,cgpa,research]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":779.2999992370605,"y":270,"wires":[["41d0a7b9.bfeb38"]]},{"id":"41d0a7b9.bfeb38","type":"http request","z":"b66b6b3d.134de8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/87d6754b-256c-45b2-949b-826ba7cf4ef2/deployments/dc4d86a0-9d1a-4cdd-bac5-ee7f546abe80/online","tls":"","proxy":"","authType":"basic","x":908.9000358581543,"y":333,"wires":[["3ce2d3c4.4927ac","4ddc8d14.3a6b24"]]},{"id":"3ce2d3c4.4927ac","type":"debug","z":"b66b6b3d.134de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":961.899974822998,"y":269,"wires":[]},{"id":"4ddc8d14.3a6b24","type":"function","z":"b66b6b3d.134de8","name":"Output Parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":979.3000030517578,"y":422,"wires":[["ce7f7ab.729b488"]]},{"id":"ce7f7ab.729b488","type":"ui_text","z":"b66b6b3d.134de8","group":"f19ac19.85f044","order":9,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1107.9000396728516,"y":473.20001220703125,"wires":[]},{"id":"f19ac19.85f044","type":"ui_group","z":"","name":"Prediction","tab":"3febee03.fe16e2","disp":true,"width":"6","collapse":false},{"id":"3febee03.fe16e2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]